<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    
  <div class="row shadow bg-white rounded p-2" style="width: 40%;">

    <form action="/user/password/resetdone"  class="border border-1 py-2" method="post">  
          
          <p class="h2 text-center mb-2">Password Reset</p>
          <div class="form-floating my-3">
            <input type="password" name="newPass" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Enter your new password</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" name="confirmPass" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Confirm your password</label>
          </div>
          <input type="hidden" class="form-control" name="token" id="floatingPassword" placeholder="Password" value="<%=token %>">


          <div class="d-flex  justify-content-center ">
            <button type="submit" class="btn btn-danger col-6">Reset Password</button>
          </div>
    </form>
  </div>
</div>