<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card shadow bg-white rounded p-3 shadow-lg " style="width: 24rem;">
  
        <h2 class="display-1 text-center fw-bold mb-3">Heyy</h2>
        <div class="d-flex justify-content-center ">
            <a href="/user/signin" class="btn btn-outline-success text-uppercase col-5 me-2">SignIn</a>
            <a href="/user/signup" class="btn btn-outline-success text-uppercase col-5">SignUp</a>
        </div>

    </div>
</div>